<div class="topic-content">
  <br>
    <h3 class="pt1 title is-5"><%= link_to topic.title, topic %></h3>
     <h3 class="pt1 title is-5"><%=  link_to topic.category.title, topic.category %></h3>
    
</div>
