<h1 class="title is-1">Topics</h1>
 <%= link_to 'New Topic', new_topic_path, class:'btn btn-dark' %>
  <div class="row">
      <% @topics.each do |topic| %>
        <div class="col-sm">
          <%= render topic, topic: topic %>
        </div>
      <% end %>
  </div>
