  <div class="category-content">
    <br>
    <h3 class="pt1 title is-5"><%= link_to category.title, category %></h3>
          <%= link_to 'View Category', category, class:'button' %>
          <%= link_to 'Edit Category', edit_category_path(category), class:'button' %>
          <%= link_to 'Delete', category, class:'button is-danger', method: :delete, data: { confirm: "Are you sure you want to delete this category? " } %>

  </div>
